[submodule "MemProcFS"]
	path = MemProcFS
	url = https://github.com/ufrisk/MemProcFS.git
[submodule "LeechCore"]
	path = LeechCore
	url = https://github.com/ufrisk/LeechCore.git
[submodule "LeechCore-plugins"]
	path = LeechCore-plugins
	url = https://github.com/ufrisk/LeechCore-plugins
